
<div class="each-widget-wrapper">
  <div class="title clearfix">
            <span class="d-inline-block">
              Items Requiring Action
              </span>
    <div class="options float-end"  >
      <button class="btn  btn-sm toggleDropdownFunctionClass" >
        <svg width="4" height="18" viewBox="0 0 4 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M2 10C2.55228 10 3 9.55228 3 9C3 8.44772 2.55228 8 2 8C1.44772 8 1 8.44772 1 9C1 9.55228 1.44772 10 2 10Z" stroke="#606060" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M2 3C2.55228 3 3 2.55228 3 2C3 1.44772 2.55228 1 2 1C1.44772 1 1 1.44772 1 2C1 2.55228 1.44772 3 2 3Z" stroke="#606060" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M2 17C2.55228 17 3 16.5523 3 16C3 15.4477 2.55228 15 2 15C1.44772 15 1 15.4477 1 16C1 16.5523 1.44772 17 2 17Z" stroke="#606060" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      <ul class="dropDownOption outsideClick  ">
        <li><a class="toggleDropdownFunctionClass"   href="javascript:void(0)">Option 1</a></li>
        <li><a class="toggleDropdownFunctionClass"   href="javascript:void(0)">Option 1</a></li>
        <li><a class="toggleDropdownFunctionClass"   href="javascript:void(0)">Option 1</a></li>
        <li><a class="toggleDropdownFunctionClass"   href="javascript:void(0)">Option 1</a></li>
      </ul>
    </div>
  </div>
  <div class="list items-required-action"  *ngIf="requireAction != null">
    <a href="javascript:void(0)" class="each-list">
      <div class="list-title">
        <img src="./assets/image/BrCase2.png" alt="">
        <span>Overdue Cases</span>
      </div>
      <div class="notification">
        <span class="badge badge-custom-danger">{{requireAction.cases}}</span>
      </div>
    </a>
    <a href="javascript:void(0)" class="each-list">
      <div class="list-title">
        <img src="./assets/image/contractor2.png" alt="">
        <span>Contractor Document / Insurance Expired</span>
      </div>
      <div class="notification">
        <span class="badge badge-custom-danger">{{requireAction.contractor}}</span>
      </div>
    </a>
    <a href="javascript:void(0)" class="each-list">
      <div class="list-title">
        <img src="./assets/image/resident3.png" alt="">
        <span>Resident Information Update Requests</span>
      </div>
      <div class="notification">
        <span class="badge badge-custom-danger">{{requireAction.residentUpdate}}</span>
      </div>
    </a>
    <a href="javascript:void(0)" class="each-list">
      <div class="list-title">
        <img src="./assets/image/overdue.png" alt="">
        <span>Overdue Maintenance Schedule</span>
      </div>
      <div class="notification">
        <span class="badge badge-custom-danger">{{requireAction.schedule}}</span>
      </div>
    </a>
    <a href="javascript:void(0)" class="each-list">
      <div class="list-title">
        <img src="./assets/image/calendar2.png" alt="">
        <span>Pending Bookings</span>
      </div>
      <div class="notification">
        <span class="badge badge-custom-danger">{{requireAction.booking}}</span>
      </div>
    </a>
    <a href="javascript:void(0)" class="each-list">
      <div class="list-title">
        <img src="./assets/image/resident3.png" alt="">
        <span>Residents Requests</span>
      </div>
      <div class="notification">
        <span class="badge badge-custom-danger">{{requireAction.resident}}</span>
      </div>
    </a>
    <a href="javascript:void(0)" class="each-list">
      <div class="list-title">
        <img src="./assets/image/resident3.png" alt="">
        <span>Unread Messages</span>
      </div>
      <div class="notification">
        <span class="badge badge-custom-danger">{{requireAction.maintenance}}</span>
      </div>
    </a>

  </div>
</div>
