<div class="Dashboard">
  <div class="container-fluid">
    <div class="row  p-0 ">
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 mb-3">
        <app-calender-report></app-calender-report>
      </div>
      <!--Case Widget-->
      <div class="col-xl-4  col-lg-6 col-md-6 col-sm-6 mb-3">
        <app-donut-chart></app-donut-chart>
      </div>
      <!--Items Requiring Action Widget-->
      <div class="col-xl-4  col-lg-6 col-md-6 col-sm-6 mb-3 ">
        <app-require-action></app-require-action>
      </div>
      <!-- Management Report Widget-->
      <div class="col-xl-4  col-lg-6 col-md-6 col-sm-6 mb-3 ">
        <app-report-management></app-report-management>
      </div>
      <!--Building Summary Widget-->
      <div class="col-xl-4  col-lg-6 col-md-6 col-sm-6 mb-3 ">
        <app-building-summary></app-building-summary>
      </div>
      <!--Latest Work Order Sent Widget-->
      <div class="col-xl-4  col-lg-6 col-md-6 col-sm-6 mb-3 ">
        <app-sent-order></app-sent-order>
      </div>
      <!--Notes Widget-->
      <div class="col-xl-4  col-lg-6 col-md-6 col-sm-6 mb-3 ">
        <app-report-note></app-report-note>
      </div>
      <!--Numbers Widget-->
      <div class="col-xl-4  col-lg-6 col-md-6 col-sm-6 mb-3 ">
        <app-report-number></app-report-number>
      </div>
      <!--Activity Widget-->
      <div class="col-xl-4  col-lg-6 col-md-6 col-sm-6 mb-3 ">
        <app-activity-report></app-activity-report>
      </div>
    </div>
  </div>
</div>
