<div class="header">
  <div class="header-wrap ">
    <div class="row m-0">
      <div class="col-lg-4">
        <div class="btn-group btn-group-left btn-group1">
          <a href="javascript:void(0)" class="btn" ><img class="btn-icon" src="./assets/image/community.png" alt=""> &nbsp; Community</a>
          <a href="javascript:void(0)" class="btn" ><img class="btn-icon" src="./assets/image/broadcast.png" alt=""> &nbsp; Broadcast</a>
          <a href="javascript:void(0)" class="btn" ><img class="btn-icon" src="./assets/image/log.png" alt=""> &nbsp; Shift Log</a>
          <a href="javascript:void(0)" class="btn" ><img class="btn-icon" src="./assets/image/lobby.png" alt=""> &nbsp; Lobby Screen</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="input-group ">
          <span class="input-group-text" id="basic-addon1"><img class="btn-icon" src="./assets/image/search2.png" alt=""></span>
          <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="btn-group btn-group2">
          <a href="javascript:void(0)" class="btn" style="color: #7B8A98!important;">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15 7H9V1C9 0.4 8.6 0 8 0C7.4 0 7 0.4 7 1V7H1C0.4 7 0 7.4 0 8C0 8.6 0.4 9 1 9H7V15C7 15.6 7.4 16 8 16C8.6 16 9 15.6 9 15V9H15C15.6 9 16 8.6 16 8C16 7.4 15.6 7 15 7Z" fill="#1C65A8"/>
            </svg>  &nbsp; Action
          </a>
          <a href="javascript:void(0)" class="btn" >
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.7442 11.9908L10.7125 16.8766C10.877 17.2864 10.8722 17.7447 10.6991 18.151C10.526 18.5572 10.1987 18.8781 9.7892 19.0433V19.0433C9.37941 19.2078 8.92108 19.203 8.51484 19.0299C8.10861 18.8567 7.78768 18.5295 7.62253 18.12L4.59253 10.6666" stroke="#1C65A8" stroke-width="2" stroke-miterlimit="10"/>
              <path d="M15.2575 0.932495L2.5 5C1.974 5.15652 1.51936 5.49221 1.21494 5.94884C0.910516 6.40547 0.775512 6.95425 0.833337 7.49999C0.775512 8.04574 0.910516 8.59452 1.21494 9.05115C1.51936 9.50778 1.974 9.84347 2.5 10L15.2575 14.0675" stroke="#1C65A8" stroke-width="2" stroke-miterlimit="10"/>
              <path d="M15.8333 14.1666C17.6743 14.1666 19.1667 11.1819 19.1667 7.49998C19.1667 3.81808 17.6743 0.833313 15.8333 0.833313C13.9924 0.833313 12.5 3.81808 12.5 7.49998C12.5 11.1819 13.9924 14.1666 15.8333 14.1666Z" stroke="#1C65A8" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square"/>
              <path d="M16.6667 7.49999C16.6655 6.88785 16.4391 6.29755 16.0306 5.84169C15.6221 5.38582 15.06 5.09629 14.4517 5.02832C14.2587 5.83794 14.163 6.66769 14.1667 7.49999C14.163 8.33228 14.2587 9.16203 14.4517 9.97165C15.06 9.90369 15.6221 9.61415 16.0306 9.15829C16.4391 8.70242 16.6655 8.11212 16.6667 7.49999Z" fill="#1C65A8"/>
            </svg></a>
          <div class="btn">
            <div class="outsideClick" >
            <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.8333 10.8333V6.66665C14.8333 5.11955 14.2188 3.63582 13.1248 2.54186C12.0308 1.44789 10.5471 0.833313 9 0.833313C7.4529 0.833313 5.96917 1.44789 4.87521 2.54186C3.78125 3.63582 3.16667 5.11955 3.16667 6.66665V10.8333C3.14188 12.8917 2.5664 14.9059 1.5 16.6666H16.5C15.4336 14.9059 14.8581 12.8917 14.8333 10.8333Z" stroke="#1C65A8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M6.64496 18.3333C6.81812 18.8193 7.13742 19.2399 7.55905 19.5373C7.98069 19.8346 8.484 19.9943 8.99996 19.9943C9.51591 19.9943 10.0192 19.8346 10.4409 19.5373C10.8625 19.2399 11.1818 18.8193 11.355 18.3333H6.64496Z" fill="#1C65A8"/>
            </svg>
               &nbsp;
              <span class="badge badge-custom-danger rounded-circle">0</span>
          </div>
          </div>
          <a href="javascript:void(0)" class="btn drop"><span class="profile position-relative" style="width: 16px;  height: 16px;">
            <img class="user" src="./assets/image/user.png" alt=""></span> &nbsp;&nbsp;<span style=" color: #7B8A98!important;">Naisoso Island Management</span> &nbsp;&nbsp;</a>
          <div  class="btn dropdown">
            <div class="options float-end"  >
              <button class="btn btn-sm" (click)="toggleDropdown($event)">
                <svg width="4" height="18" viewBox="0 0 4 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M2 10C2.55228 10 3 9.55228 3 9C3 8.44772 2.55228 8 2 8C1.44772 8 1 8.44772 1 9C1 9.55228 1.44772 10 2 10Z" stroke="#606060" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M2 3C2.55228 3 3 2.55228 3 2C3 1.44772 2.55228 1 2 1C1.44772 1 1 1.44772 1 2C1 2.55228 1.44772 3 2 3Z" stroke="#606060" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M2 17C2.55228 17 3 16.5523 3 16C3 15.4477 2.55228 15 2 15C1.44772 15 1 15.4477 1 16C1 16.5523 1.44772 17 2 17Z" stroke="#606060" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </button>
              <div class="dropDownOption outsideClick1  ">
                <div class="DropdownHeader" style="background-image: url(https://study.com/cimages/course-image/principles-of-management-textbook_138089_large.jpg)">
                  <div class="head-wrap">
                    <img src="./assets/image/user.png" alt="">
                    <div class="name">
                      Naisoso Island Management
                    </div>
                  </div>
                </div>
                <div class="DropdownBody">
                  <a href="#" >Profile</a>
                  <a href="#" (click)="logout()">Logout</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
