<div>
  <div class="page-wrapper" >
    <div class="image-animation   " style="background-image: url('../../../../assets/image/loginbg2.jpg'); "></div>
    <div class="image-animation  " style="background-image: url('../../../../assets/image/loginbg2.1.jpg')"></div>
    <div class="image-animation  " style="background-image: url('../../../../assets/image/loginbg3.jpg')"></div>
    <!--Authentication Wrapper-->
    <div class="Authentication-wrapper">

      <!--Logo-->
      <div class="logo">
        <a href="javascript:void(0)"><img src="../../../../assets/image/logo.png" alt=""></a>
      </div>

      <!--Form Wrap-->
      <div class="form-wrap">
        <router-outlet></router-outlet>
      </div>


    </div>
  </div>
</div>

